.slider-product-image > ul.slick-dots > li,
.slider-product-image > ul.slick-dots > li > button,
.slider-product-image > ul.slick-dots > li > button::before {
  width: 6px;
  height: 6px;
}

.slider-product-image > ul.slick-dots {
  bottom: -15px;
}

.slider-product-image > ul.slick-dots > li.slick-active > button::before {
  color: #f83758;
  font-size: 10px;
}

.slider-product-image > ul.slick-dots > li > button::before {
  color: #777676;
  font-size: 8px;
}

.slider-product-image > .slick-prev {
  left: 12px;
  z-index: 1;
}

.slider-product-image > .slick-next {
  right: 12px;
}
